body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e3eeff;

    margin: 0;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.grid-container {
    border: rgb(70, 70, 70) solid 4px;
    background-color: white;

    width: 700px;
    height: 700px;

    display: flex;
    flex-wrap: wrap;
}

.left-bar {
    background-color: white;
    width: 300px;
    height: 700px;
    border: gray solid 2px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    box-sizing: border-box;
    padding: 40px 10px 40px 10px;
}

.logo {
    font-size: 34px;
    font-weight: 600;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border: gray solid 1px;
    border-radius: 10px;

    padding: 20px;
}

.rc-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rc-input {
    width: 40px;
    text-align: right;
    border-radius: 10px;
}

.modes {
    padding: 20px;

    border: gray solid 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    align-items: center;
}

.gc-box {
    outline: #dcdcdc solid 1px;
}

.info {
    font-size: 12px;
    margin-top: auto;
}

button {
    font-size: 16px;
    width: 140px;
    height: 30px;

    border: darkgrey solid 1px;
    border-radius: 50px;
    background-color: white;
}

button:hover:not([disabled]) {
    background-color: black;
    color: white;
}

button:active:not([disabled]) {
    font-size: 20px;
}